<div>
    <form (ngSubmit)=" onSubmit()">
        <h2 class="page-header">Login</h2>
          <div class="form-group has-success">
                  <label class="form-control-label" for="inputSuccess1">Your name</label>
                  <input type="text" placeholder="Your name" class="form-control is-valid" id="inputValid" name="login" >
                </div>
                <div class="form-group has-success">
                      <label class="form-control-label" for="inputSuccess1">Password</label>
                      <input type="text" placeholder="Password" class="form-control is-valid" id="inputValid" name="mod" >                   
                    </div>                  
                  <input type="submit" class="btn btn btn-success" value="Login">
    </form>
  </div>